body{
    background-color: #A4A4A4 !important;
    overflow: auto;
}

.jumbo1 {
    padding: 10px 25px 10px 25px;
    padding-bottom: 56.25%;
   }
   .jumbotron{
    background-color: #CECECE !important;
    overflow: auto;
   }
   .topBar{
    background-color: #CECECE !important;
    overflow: auto;
   }
   .btn{
       background-color: #18a4bc !important;
       border-color: #18a4bc !important;
   }
   .AB1{
       margin-bottom: 25px;
   }
   .btn1{
     
       width: 49%;
   }
   .btn2{
   
       width: 49%;
   }
   .btn1a{
     
    width: 33%;
}
.btn2a{

    width: 33%;
}
.btn3{
     
    width: 33%;
}


   .ABP{
       width: 25%;
       margin-left: 150px;
      
   }
   .PrPh{
       width:15%;
   }
   .navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}

.btn-header{
    align-content: center;
}

.img-fit{
    object-fit: contain;
    width: auto;
    height: 676px;
}

.card-deck{
    padding-top: 15px;
    padding-right: 5px;
    padding-left: 5px; 
    text-align: center;
}

.btn{
    background-color: #FFD700 !important;
    border-color: #FFD700 !important;
    color: #0892D0 !important;
}


.navbar-collapse{
    color:#0892D0 !important;
    
}
.navbar-brand{
    color: #0892D0 !important;
}
.btn:hover{
    background-color: #0892D0 !important;
    border-color: #0892D0 !important;
    color: #FFD700 !important;
}
.nav-padding{
    padding-left:  5px;
    padding-right: 5px;
}
